
body {
	background-color: teal;
	text-align: center;
	
}

li {
	text-align: left;
	font-size: 25px;
	text-decoration: none;
  color: red;
  display: inline-block;

}

h1 {
	font-size: 100px;
	color: brown;
  

}

h2 {
  color: red;

}
img {
  max-width: 940px;
  margin-bottom: 20px;
  padding: 0;
  
 
}

p {
  font-size: 25px;
}

